line_notify.json
[
    {
        "id": "342b6935fba055af",
        "type": "group",
        "z": "6f1387cac6d5d3bf",
        "name": "line notify",
        "style": {
            "label": true
        },
        "nodes": [
            "d3aa69ff573996dc",
            "a449154c1782cf33",
            "22d5a9f026836b55",
            "5fe826d8bfbe3fc3",
            "b1e607612c3e0fb9",
            "4320785e32e0435b",
            "b342379bfed7bc73",
            "58bbd0acf423b475",
            "5526060f8bd15d53",
            "2aa8b16082136b70",
            "7e372b04ac5873fa",
            "53a782561b06f5e5",
            "e56f6af8937a2d2c",
            "ec0186950f493804",
            "412d76dfab77b923"
        ],
        "x": 14,
        "y": 79,
        "w": 1532,
        "h": 322
    },
    {
        "id": "d3aa69ff573996dc",
        "type": "mqtt in",
        "z": "6f1387cac6d5d3bf",
        "g": "342b6935fba055af",
        "name": "",
        "topic": "stonez56/esp32s_temp_humd",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "89975cb5ce9f40f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "a449154c1782cf33"
            ]
        ]
    },
    {
        "id": "a449154c1782cf33",
        "type": "csv",
        "z": "6f1387cac6d5d3bf",
        "g": "342b6935fba055af",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "5fe826d8bfbe3fc3",
                "b342379bfed7bc73",
                "b1e607612c3e0fb9",
                "412d76dfab77b923"
            ]
        ]
    },
    {
        "id": "22d5a9f026836b55",
        "type": "line-notify",
        "z": "6f1387cac6d5d3bf",
        "g": "342b6935fba055af",
        "name": "",
        "message": "",
        "contentType": "message",
        "imageThumbnail": "",
        "imageUrl": "",
        "sticker": "default",
        "stickerPackageId": "1",
        "stickerId": "1",
        "silent": false,
        "creds": "38d196945e8a8708",
        "x": 1340,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5fe826d8bfbe3fc3",
        "type": "switch",
        "z": "6f1387cac6d5d3bf",
        "g": "342b6935fba055af",
        "name": "濕度太高",
        "property": "payload.col2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "80",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "7e372b04ac5873fa"
            ]
        ]
    },
    {
        "id": "b1e607612c3e0fb9",
        "type": "debug",
        "z": "6f1387cac6d5d3bf",
        "g": "342b6935fba055af",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 300,
        "wires": []
    },
    {
        "id": "4320785e32e0435b",
        "type": "line-notify",
        "z": "6f1387cac6d5d3bf",
        "g": "342b6935fba055af",
        "name": "",
        "message": "",
        "contentType": "message",
        "imageThumbnail": "",
        "imageUrl": "",
        "sticker": "default",
        "stickerPackageId": "1",
        "stickerId": "1",
        "silent": false,
        "creds": "38d196945e8a8708",
        "x": 1180,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "b342379bfed7bc73",
        "type": "switch",
        "z": "6f1387cac6d5d3bf",
        "g": "342b6935fba055af",
        "name": "溫度判斷",
        "property": "payload.col1",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "28.0",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "24.0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "5526060f8bd15d53"
            ],
            [
                "e56f6af8937a2d2c"
            ]
        ]
    },
    {
        "id": "58bbd0acf423b475",
        "type": "line-notify",
        "z": "6f1387cac6d5d3bf",
        "g": "342b6935fba055af",
        "name": "",
        "message": "",
        "contentType": "message",
        "imageThumbnail": "",
        "imageUrl": "",
        "sticker": "default",
        "stickerPackageId": "1",
        "stickerId": "1",
        "silent": false,
        "creds": "38d196945e8a8708",
        "x": 1340,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5526060f8bd15d53",
        "type": "function",
        "z": "6f1387cac6d5d3bf",
        "g": "342b6935fba055af",
        "name": "Temperature",
        "func": "msg.payload=(parseFloat(msg.payload.col2));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 120,
        "wires": [
            [
                "2aa8b16082136b70"
            ]
        ]
    },
    {
        "id": "2aa8b16082136b70",
        "type": "function",
        "z": "6f1387cac6d5d3bf",
        "g": "342b6935fba055af",
        "name": "temp",
        "func": "var message = \"提醒您，溫度過高，目前溫度 : \" + msg.payload + \" 度\";\nmsg.payload = message;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 120,
        "wires": [
            [
                "58bbd0acf423b475"
            ]
        ]
    },
    {
        "id": "7e372b04ac5873fa",
        "type": "function",
        "z": "6f1387cac6d5d3bf",
        "g": "342b6935fba055af",
        "name": "humi",
        "func": "msg.payload=(parseFloat(msg.payload.col3));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 300,
        "wires": [
            [
                "53a782561b06f5e5"
            ]
        ]
    },
    {
        "id": "53a782561b06f5e5",
        "type": "function",
        "z": "6f1387cac6d5d3bf",
        "g": "342b6935fba055af",
        "name": "humi",
        "func": "var message = \"提醒您，濕度過高，目前濕度 : \" + msg.payload + \" %\";\nmsg.payload = message;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 300,
        "wires": [
            [
                "4320785e32e0435b"
            ]
        ]
    },
    {
        "id": "e56f6af8937a2d2c",
        "type": "function",
        "z": "6f1387cac6d5d3bf",
        "g": "342b6935fba055af",
        "name": "Temperature",
        "func": "msg.payload=(parseFloat(msg.payload.col2));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 180,
        "wires": [
            [
                "ec0186950f493804"
            ]
        ]
    },
    {
        "id": "ec0186950f493804",
        "type": "function",
        "z": "6f1387cac6d5d3bf",
        "g": "342b6935fba055af",
        "name": "temp",
        "func": "var message = \"提醒您，溫度過低，目前溫度 : \" + msg.payload + \" 度\";\nmsg.payload = message;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 180,
        "wires": [
            [
                "22d5a9f026836b55"
            ]
        ]
    },
    {
        "id": "412d76dfab77b923",
        "type": "debug",
        "z": "6f1387cac6d5d3bf",
        "g": "342b6935fba055af",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 360,
        "wires": []
    },
    {
        "id": "89975cb5ce9f40f8",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "38d196945e8a8708",
        "type": "linetoken",
        "name": "line"
    }
]